@media screen and (max-width: 900px) {
  .hero-section {
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .hero-section {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
