@media screen and (max-width: 900px) {
  .home {
    height: 100%;
    margin-top: 20px;
    padding: var(--container-padding);
  }
}

@media screen and (min-width: 900px) {
  .home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
