.description-list {
  overflow: hidden;
}

@keyframes vertical-move {
  0% {
    transform: translateY(-100%);
  }
  15% {
    transform: translateY(0%);
  }
  85% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

.description {
  animation: vertical-move 3s infinite cubic-bezier(1, 0.33, 0, 1.47) both;
}

.description--no-view {
  display: none;
}
