@keyframes wavy-border {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 60% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 60% 40%;
  }
}

.bg-animated {
  height: 200px;
  width: 200px;
  background: url(../../../assets/images/me.jpg) center no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  box-shadow: inset 0px 0px 0px 9px hsla(0, 0%, 0%, 0.357);
  animation: wavy-border 8.5s ease-in-out infinite alternate both;
  margin: 0 auto;
}
