.navbar {
  background-color: var(--white);
}

@media screen and (max-width: 900px) {
  /* tablet / phones */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--container-padding);
  }

  .logo {
    font-size: 2rem;
    transition: color 1s;
    letter-spacing: -7px;
    text-align: left;
  }

  .logo--open {
    color: var(--white);
  }

  .logo,
  .burgar-nav {
    z-index: 1000;
    position: relative;
  }

  .burgar-nav {
    --burga-nav-height: 28px;
    --burga-nav-width: 28px;
    z-index: 1000;
    position: relative;
    width: var(--burga-nav-width);
    height: var(--burga-nav-height);
    cursor: pointer;
  }

  .burgar-nav div {
    --stroke--height: 2px;
    position: absolute;
    width: 100%;
    height: var(--stroke--height);
    background-color: currentColor;
    transition: bottom 0.4s linear, top 0.4s linear, transform 0.5s linear,
      color 0.4s linear;
  }

  .burgar-nav div:nth-child(1) {
    transform-origin: 0 100%;
    top: 0;
  }

  .burgar-nav div:nth-child(2) {
    top: 30%;
  }

  .burgar-nav div:nth-child(3) {
    top: 60%;
  }

  .burgar-nav div:nth-child(4) {
    transform-origin: 100% 0%;
    bottom: 0;
  }

  .burgar-nav--active {
    color: var(--white);
    overflow: hidden;
  }

  .burgar-nav--active:hover {
    color: var(--yellow);
  }

  .burgar-nav--active div:nth-child(1) {
    transform: rotate(90deg);
    top: calc(0% - var(--stroke--height));
  }

  .burgar-nav--active div:nth-child(2) {
    top: 0%;
  }

  .burgar-nav--active div:nth-child(3) {
    top: calc(100% - var(--stroke--height));
  }

  .burgar-nav--active div:nth-child(4) {
    transform: rotate(90deg);
    bottom: calc(0px - var(--stroke--height));
  }

  .links {
    z-index: 999;
    background-color: var(--black);
    color: var(--white);
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: var(--container-padding);
    transition: right 0.5s ease-in-out;
  }
  @media screen and (max-width: 400px) {
  }

  .links--close {
    right: -100%;
  }

  .link {
    font-size: 4rem;
    transition: color 0.2s linear, transform 0.2s;
  }

  @media screen and (max-width: 500px) {
    .link {
      font-size: 2rem;
    }
  }

  .link:hover {
    color: var(--yellow);
    transform: scale(1.5);
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }

  .logo {
    position: absolute;
    font-size: 2.5rem;
    padding: var(--container-padding);
    top: 0;
    letter-spacing: -7px;
  }

  .links {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--container-padding);
  }

  .link {
    font-size: 1.5rem;
    font-variant: small-caps;
    transition: transform 0.2s;
  }

  .link:hover {
    transform: scale(1.1);
  }

  .burgar-nav {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    width: 35%;
  }
}
