.header {
  font-size: 4rem;
}

.find-me > * {
  padding-right: 10px;
  transition: color 0.3s;
}

.find-me > *:hover {
  color: brown;
}

@media screen and (max-width: 900px) {
  .header {
    margin: 20px auto;
  }

  @media screen and (max-width: 500px) {
    .header {
      line-height: 100%;
      margin-bottom: 40px;
      font-size: 3rem;
    }
  }

  .find-me {
    margin-top: 10px;
  }
}

@media screen and (min-width: 900px) {
  .details {
    margin: 20px 0;
  }
}
